body{
    display: grid;
    grid-template-rows: 2fr 15fr 1fr;
    font-family: 'Asap', serif;
    background-image: url('./cool-background2.png');
}

.header{
    background-color: #7dd3fc;
    font-size: 60px;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
    padding: 70px;
}

.leftWing{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

}

.center{
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    justify-content: center;
}

#place{
    font-size: 40px;
}

#temperature{
    font-size: 80px;
}

#place ,
#temperature,
#symbol{
    display: flex;
    justify-content: center;
}
.rightWing{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.leftWing > *, 
.rightWing > *{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/4;
}

#city{
    text-align: center;
}

.cf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

#c,
#f{
    display: flex;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 2px;
    width: 41%;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}